In [1]:
import pandas as pd
df = pd.read_csv("glass.csv")

In [2]:
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [3]:
print(df.shape)
print(df.columns)
print(df.head())

(214, 10)
Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type'], dtype='object')
        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [4]:
# we only need label for one particular ouput type 1 all other are labelled same
df["y"] = (df["Type"] == 1).astype(int)
df = df.drop(["Type"], axis = 1)

In [5]:
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  y
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0  1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0  1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0  1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0  1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0  1
..       ...    ...   ...   ...    ...   ...   ...   ...  ... ..
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0  0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0  0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0  0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0  0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0  0

[214 rows x 10 columns]

In [6]:
x = df.drop(["y"], axis = 1).values
y = df["y"].values

In [7]:
# split data into train and test
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [8]:
# scaling data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [13]:
import numpy as np

def sigmoid(x):
    return 1 / (1 + np.exp(-x))

In [14]:
def predict_prob(x, w, b):
    return sigmoid(np.dot(x, w) + b)

def loss():
    return -np.mean(y*np.log(p) + (1-y)*np.log(1-p))

def update_weights(x, w, b, lr, y):
    p = predict_prob(x, w, b)
    error = p - y

    w = w - lr*(x.T @ error) / len(y)
    b = b - lr*np.mean(error)

    return w, b

In [15]:
w = np.zeros(x_train.shape[1])
lr = 0.1
b = 0
epochs = 100

for _ in range(epochs):
    w, b = update_weights(x, w, b, lr, y)

In [16]:
def predict_label(p, threshold=0.5):
    return (p >= threshold).astype(int)

In [18]:
p_test = predict_prob(x_test, w, b)
y_pred = predict_label(p_test)
print("First 5 predicted labels:", y_pred[:5])

First 5 predicted labels: [1 0 1 0 1]